/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 

	.bg-black {
	   
	    text-align: center;
	}

	.bg-black .f-icon {
	    float: none;
	    margin-right: 5px;
	}

}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

 }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 

 }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) { 

 }