body{

  }
.toggle-menu{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0;
    /* display: none; */
    top: 58px;
    text-decoration: none;
    cursor: pointer;
    /* padding-right: 60px; */
    text-decoration: none;
}
.toggle-menu::before{
    content: "\f0c9";
    color: #888;
    font-size: 30px;
    font-family: fontAwesome;
}
.toggle-menu.active::before{
    content: "\f00d";
    color: black;
    font-size: 30px;
    font-family: fontAwesome;
}
.bg-black{
  background: black;
  height: 50px;
}
.bg-black .f-icon{
    float: right;
    color: #fff;
    padding-top: 16px;
    margin-right: 41px;
    font-size: 16px;
    cursor: pointer;
}
.bg-black .left{
  margin-left: -40px;
}
.bg-black .left ul{
  display: flex;
  margin-left: 0;
}
.bg-black .left ul li{
  list-style: none;
    color: #fff;
    padding-left: 20px;
    padding-top: 16px;
    font-size: 13px;
    margin-right: 9px;
}
.bg-black .left ul .last-li{
    padding-left: 15px;
    padding-right: 4px;
}
.bg-black .left ul .last-li{
  padding-left: 24px;
}
.bg-black .left ul li i{
  padding-right: 10px;
}
.bg-black .left ul li a{
  color: #fff;
  text-decoration: none;
}
.navbar{
  margin-right: 16px;
    margin-bottom: -1px;
}
 .navbar .navbar-header img{
  height: 121px;
  padding: 15px 14px;
  margin-top: -1px;
 }
 .navbar .navbar-right{
  font-family: 'Encode Sans Condensed', sans-serif;
  margin-top: 70px;
 }
 /* .navbar .navbar-right li{
    padding-left: -30px;
  }*/
 .navbar .navbar-right li a{
  font-size: 19px;
  font-weight: 300;
  background: none;
  padding-left: 5px;
  color: #111;
 }


footer{
  background: #2D2D2D;
  color: #fff;
  height: 60px;
  height: 90px;
}
footer p {
  font-size: 12px;
  padding-top: 38px;
  padding-left: 10px;
}
.face{
    display: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    padding-top: 18px;
    padding-left: 50px;
}

@media(max-width: 510px){
  footer {
    height: 130px;
}
footer p {
    font-size: 12px;
    padding-top: 32px;
    text-align: center;
    padding-left: 4px;
}
/*.f-icon{
       display: none;
}*/
.left{
  display: none;
}
.navbar {
    height: 69px;
}
.navbar-header{
  
    margin-top: -10px;
    margin-left: -22px;
}
.navbar .navbar-header img {
    height: 88px;
    padding: 15px 14px;
    margin-top: -1px;
}
.navbar .navbar-right{
  display: none;
}
.navbar .navbar-right{
  display: none;
}
.navbar .navbar-right.active{
  display: block;
    background: #fff;
    margin-left: 40px;
    height: 85vh;
    width: 103.6%;
    margin-top: -10px;
    margin-left: 0;
    padding-left: auto;
    text-align: center;
    padding-top: 44px;
}
.navbar .navbar-right.active li{
  padding-top: 20px;
}

.face{
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    padding-top: 18px;
    padding-left: 50px;
}
}

.container-fluid-aws {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}